body {
  background: rgb(96, 167, 74);
  font: normal 15pt Arial;
}

header {
  color: rgb(163, 163, 71);
  text-align: center;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(12, 12, 12);
}

img#foto {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  padding: 25px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}